.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-main {
  flex-grow: 1;
  display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-layout {
  display: flex;
  flex-direction: row; /* Padrão é linha (lado a lado) */
  min-height: 90vh;
}

.main-content-wrapper {
  flex-grow: 1; /* Faz o conteúdo principal ocupar todo o espaço restante */
  padding: 1.5rem; /* Adiciona um respiro para o conteúdo */
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-nav {
  display: none;
}

/* Esconde a Barra Inferior em telas de desktop */
.bottom-nav {
  display: flex; /* Garante que ela apareça por padrão (mobile) */
}
@media (min-width: 768px) { /* O 'breakpoint' do seu base.css */
  
  .app-layout {
    /* Remove o padding-bottom, já que a barra inferior some */
    padding-bottom: 0; 
  }

  .sidebar-nav {
    display: flex; /* Mostra a sidebar */
    flex-shrink: 0; /* Impede que a sidebar encolha */
    width: 250px; /* Largura da sidebar (ajuste do seu base.css) */
  }

  .bottom-nav {
    display: none; /* Esconde a barra inferior */
  }
}